body {
  background-color: #27FEFF;
}

body {
  background-image:
    radial-gradient(
      circle,
      white,
      #27FEFF
    );
}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
}

h2 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

h4 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  }

p {
  text-align: center;
}

section {
  border-style: solid;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 20px;
  padding-right: 20px;
}