* {
  background-color: #27FEFF;
}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
}

h2 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

h4 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  }

p {
  text-align: center;
}

section {
  display: block;
  border-style: solid;
  border-color: black;
  border-width: 15px;
}